
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html,
p,
h6,
h3,
h4,
ul,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  background-color: rgb(201, 47, 73);
  padding: 10px 0;
}

nav h4 {
  font-weight: 400;
}

.nav-items {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 3px;
}

.nav-icons {
  width: 30px;
}

.icon img {
  max-width: 40px;
  height: 40px;
  padding-inline-start: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.coin-info {
  padding: 0;
  text-align: center;
}

.coins-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  background-color: rgb(214, 60, 85);
  min-height: 100vh;
}

.card {
  width: 48%;
  padding-top: 8px;
  text-decoration: none;
  height: 100px;
}

.card:nth-child(4n+1),
.card:nth-child(4n+4) {
  background-color: rgb(223, 87, 109);
}

.card:nth-child(4n+2),
.card:nth-child(4n+3) {
  background-color: rgb(214, 60, 85);
}

.back-arrow {
  width: 34px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.rank,
.price {
  font-size: 13px;
}

ul li {
  list-style: none;
  padding: 17px 7px;
  background-color: rgb(214, 60, 85);
  overflow-y: hidden;
}

ul li:nth-child(even) {
  background-color: rgb(223, 87, 109);
}

ul li span {
  float: right;
  font-weight: normal;
}

.details {
  background-color: rgb(214, 60, 85);
  padding: 2px 6px;
}

.image-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-nav {
  display: flex;
  align-items: center;
}

.details h3 {
  text-align: center;
}

.details-card {
  height: 100%;
}

.loading {
  margin: 100px;
  font-weight: bold;
  color: black;
}

.search {
  text-align: center;
  background-color: rgb(201, 47, 73);
  border-bottom: 1px solid  rgb(158, 27, 51);
}

input {
  margin: 15px 0;
  padding: 7px 10px;
  width: 20%;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  border: none;
  -moz-border-radius: 2%;
}
